@use 'variables';

.vs-button {
  text-decoration: none;

  border: 0;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px $main-effects;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: $primary;
  color: $white;

  text-transform: uppercase;
  text-align: center;

  @include font(700, 1.5625rem);
  line-height: 120%;

  padding: 25px 45px;

  &:hover {
    background-color: $terciary;
    transition: all ease .2s;
  }

  &--light {
    @extend .vs-button;
    background-color: $background !important;
    color: $secondary;
    box-shadow: 0px 10px 10px 0px $terciary;

    &:hover {
      background-color: $main-effects !important;
    }
  }

  &[type="submit"] {
    max-width: 100%;
    background-color: $primary !important;
    border: none;
    color: $white;
    padding: 36px 36px;
    border-radius: 10px;

    &:hover {
      background-color: $terciary !important;
    }
  }

  @media (max-width: 400px) {
    font-size: $lg;

    &[type="submit"] {
      padding: 26px 36px;
    }
  }

  @media (min-width: 1200px) {
    line-height: 80%;
    padding: 35px 50px;

    &[type="submit"] {
      padding: 36px 36px;
      border-radius: 10px;
    }
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  filter: drop-shadow(0px 15.181px 25.302px #C5AA9F);

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(160, 119, 96, 0.50);

    &.video {
      aspect-ratio: 16 / 9;
      width: 100%;
    }
  }
}

.vs-card-w-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  max-width: 75%;
  margin: 0 auto;

  .vs-card-asset {
    width: 122px;
    height: 122px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    img {
      max-width: 100%;
    }
  }

  .vs-card-info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .vs-card-title {
      font-size: $xl;
      font-weight: 900;
      line-height: 160%;
      text-transform: uppercase;
      text-align: center;
      color: $primary;
    }

    .vs-card-content {
      color: $secondary;
    }
  }

  .vs-card-link {
    a {
      color: $primary;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration-line: underline;
      letter-spacing: 3px;
      line-height: 100%;
      text-align: center;
      text-underline-offset: 3px;

      &:hover {
        color: $secondary;
        transition: color ease .2s;
      }
    }
  }

  @media (max-width: 400px) {
    .vs-card-info {
      .vs-card-title {
        font-size: $lg;
      }
    }

  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    .vs-card-info {
      .vs-card-title {
        font-size: $lg;
      }
    }
  }
}

.vs-card-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $xsm;

  max-width: 85%;
  margin: 0 auto;

  .vs-card-avatar-circle {
    background: $main-effects;
    width: 181px;
    height: 181px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    .vs-card-avatar-mask {
      background-color: #D9D9D9;
      width: 159px;
      height: 159px;

      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      border-radius: 50%;

      img {
        max-width: 100%;
      }
    }
  }

  .vs-card-avatar-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    gap: 2px;

    .vs-card-avatar-info {
      color: $secondary;
      font-size: $xsm;
      text-transform: uppercase;
    }

    .vs-card-avatar-name {
      font-size: $xl;
      font-weight: 900;
      line-height: 160%;
      text-transform: uppercase;
      color: $primary;
    }

    .vs-card-avatar-role {
      color: $secondary;
      line-height: 150%;
    }
  }

  @media (max-width: 400px) {
    .vs-card-avatar-content {
      .vs-card-avatar-name {
        font-size: $lg;
      }
    }

  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    .vs-card-avatar-content {
      .vs-card-avatar-name {
        font-size: $lg;
      }
    }
  }

  @media (min-width: 1200px) {
    max-width: none;
    margin: unset;

    .vs-card-avatar-content {
      .vs-card-avatar-name {
        min-height: 80px;
      }
    }
  }
}

.vs-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;

  .vs-gallery-item {
    border-radius: 5px;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  @media (min-width: 1200px) {
    max-width: 85%;
  }
}

.vs-card-testmonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $default;

  max-width: 85%;
  margin: 0 auto;

  .vs-card-testimonial-asset {
    width: 104px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }

  .vs-card-testimonial-content {
    color: $secondary-text;
    line-height: 175%;
  }

  .vs-card-testimonial-author {
    color: $secondary;
    font-size: $xxl;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
    @include font-title();
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    .vs-card-testimonial-content {
      min-height: 174px;
    }
  }
}

.vs-form {

  form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 100% !important;
      position: relative;

      .wpcf7-spinner {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px 8px;

        @media (max-width: 768px) {
          left: 0;
          margin: auto;
          bottom: -6%;
        }
      }
    }

    input,
    textarea {
      border-radius: 5px;
      border: 1px solid $secondary;
      width: 100%;

      color: $primary-text;
      line-height: 175%;

      background-color: transparent;

      padding: 10px 12px;

      &::placeholder {
        color: $primary-text;
      }

      &:focus-visible,
      &:focus {
        outline: 1px solid $primary;
      }
    }

    textarea {
      height: 150px;
    }
  }
}

.vs-services {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: start;
  }
}

.wpcf7 form .wpcf7-response-output {
  text-align: center;

  @media (max-width: 768px) {
    margin: 4em 0.5em 1em;
  }
}

.vs-flex-topic {
  display: flex;
  color: $primary-text;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: $xxl;
  line-height: 116%;

  @media (max-width: 400px) {
    font-size: $xl;
  }
}